//设置全局样式

// 头部高度
$base-header-height: 64px;

//左侧宽度
$base-aside-width: 220px;

//左侧宽度
$base-aside-collapsed-width: 64px;

//logo
$base-logo-padding: 16px;

//内容展示区内边距
$base-content-padding: 16px 16px 0 16px;

//背景颜色
$base-background: #f6f8fc;

//滚动条背景颜色
$simplebar-scrollbar-backColor: #272E3B;